.products-prev-slider {
  position: relative;
  .slider-navigation {
    @media screen and (max-width: $tablet-size) {
      display: none;
    }
    @media screen and (max-width: $phone-size) {
      display: block;
    }

  }
}