section.s-sales-leaders
    .container
        .section-header
            h2.title-section
                |   Лидеры продаж
        .sales-leaders
            .sales-leaders__row
                .sales-leaders__col
                    a(href="#").sales-leader.sales-leader--big
                        .sales-leader__img
                            img(src='static/images/content/products/prev-1.png' alt='Product image')
                        span.sales-leader__name
                            |   Водосточные трубы

                    .sales-leaders__row
                        .sales-leaders__col
                            a(href="#").sales-leader
                                .sales-leader__img
                                    img(src='static/images/content/products/prev-1.png' alt='Product image')
                                span.sales-leader__name
                                    |   Планка стыковочна 30х30х2000 мм

                        .sales-leaders__col
                            a(href="#").sales-leader
                                .sales-leader__img
                                    img(src='static/images/content/products/prev-1.png' alt='Product image')
                                span.sales-leader__name
                                    |   Гладкий лист оцинкованный

                .sales-leaders__col
                    .sales-leaders__row
                        .sales-leaders__col
                            a(href="#").sales-leader
                                .sales-leader__img
                                    img(src='static/images/content/products/prev-1.png' alt='Product image')
                                span.sales-leader__name
                                    |   Водосточные трубы
                        .sales-leaders__col
                            a(href="#").sales-leader
                                .sales-leader__img
                                    img(src='static/images/content/products/prev-1.png' alt='Product image')
                                span.sales-leader__name
                                    |   Водосточные трубы
                    .sales-leaders__row
                        a(href="#").sales-leader.sales-leader--big
                            .sales-leader__img
                                img(src='static/images/content/products/prev-1.png' alt='Product image')
                            span.sales-leader__name
                                |   Водосточные трубы
