.category-list__wrapper
    a(href="#").category-list__title
        span.category-list__title-text
            | Категории
    ul.category-list
        li.category-list__item
            a(href="#").link
                | Комплекты водосточных систем
            span.count-text
                | 23
        li.category-list__item
            a(href="#").link
                | Водосточные трубы
            span.count-text
                | 98
        li.category-list__item
            a(href="#").link
                | Желоб водосточный
            span.count-text
                | 98
        li.category-list__item
            a(href="#").link
                | Воронка желоба выпускная
            span.count-text
                | 98
        li.category-list__item.category-list__item--all
            a(href="#").link-green
                | Все водосточные системы
            span.count-text
                | 7
