section.s-action
    .container
        .section-header
            h2.title-section
                | Акции и спецпредложения
            .section-header__right
                a(href="#").link-green.link-underline
                    | Все спецпредложения
                span.count-text
                    | 123
        .actions
            .actions-prev
                .action-prev
                    a(href='#' style="background-image: url('static/images/content/category-prev-1.jpg')").action-prev__header
                        .btn
                            | Купить листы оцинкованные
                    .action-prev__body
                        .action-prev__text
                            span.action-prev__descr
                                | Специальное предложение
                            span.action-prev__title
                                | на листы оцинкованные
                .action-prev
                    .action-prev__header(style="background-image: url('static/images/content/category-prev-1.jpg')")
                        a(href="#").btn
                            | Купить доборные элементы кровли
                    .action-prev__body
                        .action-prev__text
                            span.action-prev__descr
                                | Распродажа
                            span.action-prev__title
                                | доборных элементов кровли
                .action-prev.action-prev--tablet-hide
                    .action-prev__header(style="background-image: url('static/images/content/category-prev-1.jpg')")
                        a(href="#").btn
                            | Купить профнастил со скидкой
                    .action-prev__body
                        .action-prev__text
                            span.action-prev__descr
                                | Скидки до 50%
                            span.action-prev__title
                                | на профнастил
        .section-mobile-footer
            a(href="#").link-green.link-underline
                | Все спецпредложения
            span.count-text
                | 123