section.s-product-prev-line.s-bg-white
    .container
        .section-header
            h2.title-section
                |   Товары со скидкой
            .section-header__right
                a(href="#").link-green.link-underline
                    |   Все товары со скидкой
                span.count-text
                    |   123
        .products-prev-line
            include ../../modules/products/prev/prev-1
            include ../../modules/products/prev/prev-2
            include ../../modules/products/prev/prev-3
            include ../../modules/products/prev/prev-4
        .section-mobile-footer
            a(href="#").link-green.link-underline
                | Все товары со скидкой
            span.count-text
                | 123
