section.s-categories-prev
    .container
        .section-header
            h2.title-section
                | Популярные категории каталога

        .categories-prev
            .categories-prev__navigation
                .slider-nav.slider-nav--prev.categories-prev__btn--prev
                    +icon('left-chevron', 'slider-nav__icon')
                .slider-nav.slider-nav--next.categories-prev__btn--next
                    +icon('right-chevron', 'slider-nav__icon')
            .js-categories-prev
                include ../../modules/category/prev-1
                include ../../modules/category/prev-2
                include ../../modules/category/prev-3
                include ../../modules/category/prev-4
                include ../../modules/category/prev-5
                include ../../modules/category/prev-6
                include ../../modules/category/prev-7
                include ../../modules/category/prev-8

