@font-face {
  font-family: 'source_sans_proregular';
  src: url('../fonts/SourceSansProRegular/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_prosemibold';
  src: url('../fonts/SourceSansProSemiBold/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_probold';
  src: url('../fonts/SourceSansProBold/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_problack';
  src: url('../fonts/SourceSansProBlack/SourceSansPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}