.location {
  flex: 0 0 175px;
  width: 175px;
  position: relative;

  &__icon {
    @include size(16px);
    fill: $base-text-color;
    flex-shrink: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;


    & > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__body {
    &.is-location-choose {
      @media screen and (max-width: $phone-size) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-color: rgba(#003333, .3);
        z-index: 3;
      }

      .location-choose {
        display: flex;
      }
    }
  }

  &__current {
    display: block;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after {
      content: '';
      position: absolute;
      top: 6px;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4.5px 0 4.5px;
      border-color: #000000 transparent transparent transparent;
      margin-left: 10px;
      z-index: 1;
    }
  }

  &-question {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(159, 197, 178, 0.5);
    padding: 8px 10px;
    z-index: 1;

    @media screen and (max-width: $tablet-size){
      max-width: 728px;
    }

    @media screen and (max-width: $phone-size){
      max-width: 100%;
      position: fixed;
      bottom: 0;
      right: 0;
      top: auto;
      border: 2px solid $main-action-color;
      padding: 10px 20px 20px;
      flex-direction: column;
    }

    & > * {
      &:not(:last-child) {
        margin-right: 15px;

        @media screen and (max-width: $phone-size){
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $white transparent;
      position: absolute;
      left: 100px;
      top: -9px;
      @media screen and (max-width: $phone-size){
        display: none;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      white-space: nowrap;
      & > * {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    &__text {
      font-size: 18px;
      line-height: 1.44;
      font-family: $semi-bold-font;
      white-space: nowrap;

      @media screen and (max-width: $tablet-size){
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @media screen and (max-width: $phone-size) {
        white-space: normal;
      }

    }
  }

  &-choose {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: $white;
    border: 2px solid $main-action-color;
    border-radius: 4px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    width: 210px;
    z-index: 1;

    @media screen and (max-width: $phone-size) {
      width: auto;
      position: absolute;
      top: 60px;
      left: 20px;
      right: 20px;
      bottom: 30px;
    }

    &:before {
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }

    &__close {
      @include size(30px);
      align-items: center;
      justify-content: center;
      display: none;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: -40px;

      @media screen and (max-width: $phone-size) {
        display: flex;
      }

      &-icon {
        @include size(16px);
        fill: $main-action-color;
      }
    }
    &__header {
      border-bottom: 2px solid $main-action-color;
    }

    &__body {
      position: relative;
      height: auto;
      max-height: 240px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: $phone-size) {
        max-height: 100%;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 30px;
      }

      &:before {
        top: 0;
        background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));

      }

      &:after {
        bottom: 0;
        background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
      }
    }

    &__list {
      padding: 15px 0;
      overflow: auto;
      height: 100%;
    }

    &__item {
      cursor: pointer;
      font-family: $semi-bold-font;
      font-size: 14px;
      line-height: 18px;
      padding: 5px 15px;
      transition: all linear .2s;
      &:hover {
        background-color: $main-action-color;
      }
    }
  }

  &-mobile {
    color: $base-text-color;

    .location{
      &__icon {
        fill: $link-color;
      }


      &-choose {
        &__item {
          color: $base-text-color;
        }
      }

      &__current {
        color: $link-color;
        &::after {
          display: none;
        }
      }
    }
  }
}