.category-prev
    .category-prev__img(style="background-image: url('static/images/content/category-prev-1.jpg')")
    .category-list__wrapper
        a(href="#").category-list__title
            span.category-list__title-text
                | Водосточные системы
            span.count-text
                | 1234
        ul.category-list
            li.category-list__item
                a(href="#").link
                    | Комплекты водосточных систем
                span.count-text
                    | 23
            li.category-list__item
                a(href="#").link
                    | Водосточные трубы
                span.count-text
                    | 98
            li.category-list__item
                a(href="#").link
                    | Желоб водосточный
                span.count-text
                    | 98
            li.category-list__item
                a(href="#").link
                    | Воронка желоба выпускная
                span.count-text
                    | 98
            li.category-list__item
                a(href="#").link-green
                    | Все водосточные системы
                span.count-text
                    | 7
