.header {
  .container {
    display: flex;
    align-items: center;
  }

  &-top {
    padding: 12px 0;
    @media screen and (max-width: $phone-size) {
      display: none;
    }

    &__user-nav {
      margin-left: auto;
    }

    &__location {
      margin-right: 80px;
      @media screen and (max-width: $tablet-size) {
        margin-right: 40px;
      }
    }
  }

  &-main {
    background-color: $dark-bg-color;
    padding: 20px 0;
    color: $white;
    @media screen and (max-width: $phone-size) {
      padding: 13px 0;
    }

    .container {
      position: relative;
      & > * {
        &:not(:last-child) {
          margin-right: 30px;

        }
      }
    }

    &__logo {
      @media screen and (max-width: $tablet-size) {
        order: 1;
      }

      &.logo {
        @media screen and (max-width: $phone-size) {
          display: none;
        }
      }
    }

    &__catalog-nav {
      @media screen and (max-width: $tablet-size) {
        order: 2;
      }
    }

    &__search {
      @media screen and (max-width: $tablet-size) {
        order: 1;
      }
    }

    &__header-phone-mobile {
      @media screen and (max-width: $phone-size) {
        order: 2;
      }
    }

    &__basket-prev {
      margin-left: auto;
      @media screen and (max-width: $tablet-size) {
        order: 2;
        margin-left: 0;
        margin-right: 30px;
      }

      @media screen and (max-width: $phone-size) {
        margin-right: 0;
      }
    }

    &__order-callback {
      @media screen and (max-width: $tablet-size) {
        order: 3;
        margin-right: 0;
      }

      &.order-callback {
        @media screen and (max-width: $phone-size) {
          display: none;
        }
      }
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    @media screen and (max-width: $tablet-size) {
      order: 3;
    }

    @media screen and (max-width: $phone-size) {
      margin-left:auto;
    }

    & > * {
      &:not(:last-child) {
        margin-right: 30px;
        @media screen and (max-width: $phone-size) {
          margin-right: 15px;
        }
      }
    }
  }

  &-phone-mobile{
    display: none;
    @media screen and (max-width: $phone-size) {
      display: block;
    }

    &__icon {
      @include size(24px);
      fill: $main-action-color;
    }
  }
}