section.s-sales-leaders-products
    .container
        .section-header
            h2.title-section
                | Лидеры продаж в разделе кровля
        .sales-leaders-products
            .sales-leaders-products__row
                .sales-leaders-products__col
                    include ../../modules/products/prev/prev-1
                .sales-leaders-products__col
                    include ../../modules/products/prev/prev-2
                .sales-leaders-products__col.sales-leaders-products__col--wide
                    include ../../modules/products/prev/prev-3
            .sales-leaders-products__row
                .sales-leaders-products__col
                    include ../../modules/products/prev/prev-4
                .sales-leaders-products__col.sales-leaders-products__col--wide
                    include ../../modules/products/prev/prev-1
                .sales-leaders-products__col
                    include ../../modules/products/prev/prev-2